In [1]:
import pandas as pd

In [2]:
samples = [
            {'meanSignalLenght' : 10.1, 'amplCor': 6, 'syncVar' : 7, 'metr6.velSum' : 8}, # time t
            {'meanSignalLenght' : 7, 'amplCor': 12, 'syncVar' : 0.4, 'metr6.velSum' : -0.2},# time t+1
            {'meanSignalLenght' : 7.2, 'amplCor': 8, 'syncVar' : 0.2, 'metr6.velSum' : -0.5} #time t+2
        ]

In [3]:
values = [[sample[key] for key in sample.keys()] for sample in samples]
df = pd.DataFrame(values).T.rename(index={0:'meanSignalLenght', 1:'amplCor', 2:'syncVar', 3:'metr6.velSum'})

In [4]:
df

                     0     1    2
meanSignalLenght  10.1   7.0  7.2
amplCor            6.0  12.0  8.0
syncVar            7.0   0.4  0.2
metr6.velSum       8.0  -0.2 -0.5

### or if your data is structured like this...

In [5]:
meanSignalLenghts = [10.1, 7, 7.2]
amplCors = [6, 12, 18]
syncVars = [7, 0.4, 0.2]
velSums = [8, -0.2, -0.5]

all_data = [meanSignalLenghts, amplCors, syncVars, velSums]

In [6]:
df = pd.DataFrame(all_data, index=['meanSignalLenght', 'amplCor', 'syncVar', 'metr6.velSum'])

In [7]:
df

                     0     1     2
meanSignalLenght  10.1   7.0   7.2
amplCor            6.0  12.0  18.0
syncVar            7.0   0.4   0.2
metr6.velSum       8.0  -0.2  -0.5

### Acessing a column (time)

In [8]:
df[0]

meanSignalLenght    10.1
amplCor              6.0
syncVar              7.0
metr6.velSum         8.0
Name: 0, dtype: float64

### Accessing a row (observational category)

In [9]:
df.loc['amplCor']

0     6.0
1    12.0
2    18.0
Name: amplCor, dtype: float64